body{
    background:#10131a;
    color:#e1e2ec;
    font-family:'Plus Jakarta Sans',sans-serif;
}

.page-content{
    min-height:85vh;
    padding-top:100px;
}

.custom-navbar{
    background:rgba(16,19,26,.8);
    backdrop-filter:blur(20px);
    border-bottom:1px solid rgba(255,255,255,.1);
}

.nav-link{
    color:#c2c6d6 !important;
    margin-left:15px;
}

.nav-link:hover{
    color:#adc6ff !important;
}

.card,
.glass-card{

    background:rgba(30,41,59,.6);
    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.1);

    border-radius:20px;

    color:white;

    transition:0.3s;
}

.card:hover,
.glass-card:hover{

    transform:translateY(-5px);

    border-color:#adc6ff;

    box-shadow:
        0px 0px 20px
        rgba(173,198,255,.2);
}

.form-control,
.form-select,
textarea{

    background:#1d2027;
    border:1px solid #32353c;
    color:white;
}

.form-control:focus,
.form-select:focus{

    background:#1d2027;
    color:white;

    border-color:#adc6ff;

    box-shadow:none;
}

.btn-primary{

    background:
    linear-gradient(
        135deg,
        #4d8eff,
        #7b61ff
    );

    border:none;
}

.btn-primary:hover{
    transform:scale(1.03);
}

.footer{

    margin-top:80px;

    padding:40px;

    background:#0b0e15;

    border-top:
    1px solid
    rgba(255,255,255,.1);
}

.table{

    color:white;
}

.table th,
.table td{
    border-color:#32353c;
}

pre{
    color:#e1e2ec;
    white-space:pre-wrap;
}
.response-card{
    background:rgba(15,21,36,.78);
    border:1px solid rgba(255,255,255,.08);
    border-radius:24px;
    padding:22px;
}
.result-text,
.user-input-box{
    background:rgba(255,255,255,.04);
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
    padding:18px;
    color:#e1e2ec;
    line-height:1.75;
    font-size:0.98rem;
    white-space:pre-wrap;
}
.btn-outline-primary{
    color:#adc6ff;
    border-color:#adc6ff;
}
.btn-outline-primary:hover{
    background:#adc6ff;
    color:#10131a;
    border-color:#adc6ff;
}
.response-section{
    margin-top:40px;
    animation:slideUp 0.4s ease-out;
}
@keyframes slideUp{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
.fw-600{
    font-weight:600;
}


.metric-card{
    padding:30px;
    border-radius:25px;
}

.metric-card h1{
    font-size:3rem;
    font-weight:700;
}

.dashboard-header{
    margin-bottom:50px;
}

.glass-card{
    background:rgba(30,41,59,.6);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.08);
    border-radius:30px;
    color:white;
}

.glass-card:hover{
    border-color:#adc6ff;
    box-shadow:0 0 20px rgba(173,198,255,.15);
}